@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

:root {
    --color-text: #f5f5f5;
    --color-text-active: #9bceef;
    --color-text-hover: #b2eeee;;
    --color-text-dark: #a6a6a6;
    
    --color-primary: #37474f;
    --color-primary-light: #62727b;
    --color-primary-dark: #102027;

    --color-secondary: #455a64;
    --color-secondary-light: #718792;
    --color-secondary-dark: #1c313a;

    --color-code-background: #262626;
    --color-code-border: #181818;
    --color-code-text: #dedede;
    
    --color-hljs-comment: #85c46c;
    --color-hljs-doctag: #67b24e;
    --color-hljs-meta: #c191ff;
    --color-hljs-string: #c9a26d;
    --color-hljs-keyword: #6c95eb;
    --color-hljs-variable: #66c3cc;
    --color-hljs-attribute: #e1bfff;
    --color-hljs-params: #e1bfff;
    --color-hljs-title: #c191ff;
    --color-hljs-function: #d0b8b8;
    
    --color-alart-boxshadow: rgba(100, 100, 100, 0.4);
    --color-alert-info: #012e5d;
    --color-alert-info-background: #cdd4e0;
    --color-alert-warning: #9b4c08;
    --color-alert-warning-background: #ffd8b0;
    --color-alert-danger: #a41a09;
    --color-alert-danger-background: #e0a09c;
    --color-alert-tip: #006461;
    --color-alert-tip-background: #f7fffc;
    --color-alert-important: #d54473;
    --color-alert-important-background: #ffdfe9;
}

/* Click-ability fix for selector on sm devices */
@media (min-width: 768px) and (max-width: 991px) {
  article h1:first-of-type:before {
    height: 0;
    margin-top: 0;
  }  
}

#search {
  border: none;
}

.fa-code {
  font-size: 19px;
}

.sidenav,
.toc-toggle {
  padding: 0;
}

/* Remove center align from Navbar and Collapsible section */
.collapse.in,
.collapsing {
  text-align: unset;
}

@media (min-width: 768px) {
  .sidetoc, .sidefilter {
     margin-left: -15px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center !important;
  }

  .navbar-collapse li .active {
    border-radius: 20px;
  }
}

/* Full width */
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 100%;
    }

    .sidefilter {
        width: 18%;
    }

    .sidetoc {
        width: 18%;
    }

    .article.grid-right {
        margin-left: 19%;
    }

    .sideaffix {
        width: 11.5%;
    }

    .affix ul > li.active > a {
        white-space: initial;
    }

    .affix ul > li > a {
        width: 99%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

body {
    color: var(--color-text); /* Text Color */
    background-color: var(--color-primary); /*page color*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -word-wrap: break-word;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 10px;
    font-size: 110%;
    border-left: 5px solid var(--color-secondary-light);
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
}

/* Headings 
   ------------------------------------------------------- */
h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
    font-weight: bold;
}

article h1, article h2, article h3, article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h1 {
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-primary-dark);
}

article h3 {
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-primary-light);
}

/* Table 
   ------------------------------------------------------- */
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid var(--color-primary-light);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--color-primary-dark);
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: var(--color-secondary-dark);
}

/* Collapsible Sections
   ------------------------------------------------------- */
.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e253";
    margin-left: 5px;
    color: var(--color-expander-color);
    font-size: small;
}

.expander.collapsed:after {
    content: "\e252";
}



/* CODE HIGHLIGHT 
   ------------------------------------------------------- */
pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    padding: 20px;
    margin: 0 0 30px 0;
    border: var(--color-code-border) 2px solid;
    background: var(--color-code-background);
    font-size: 0.9375em;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--color-code-text); /* Text Color */
    overflow: auto;
    border-radius: 0;
}

code {
    background: var(--color-code-background) !important;
    color: var(--color-code-text); /* Text Color */
    border-radius: 2px;
}

.hljs{
    color: var(--color-code-text);
}

.hljs-comment {
    color: var(--color-hljs-comment);
}

.hljs-doctag {
    color: var(--color-hljs-doctag);
}

.hljs-meta {
    color: var(--color-hljs-meta);
}

.hljs-string {
    color: var(--color-hljs-string);
}

.hljs-emphasis, .hljs-quote, .hljs-strong {
    color: var(--color-code-text);
}

.hljs-template-variable, .hljs-variable {
    color: var(--color-hljs-variable);
}

.hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: var(--color-hljs-keyword);
}

.hljs-attribute, .hljs-bullet, .hljs-literal, .hljs-symbol {
    color: var(--color-hljs-attribute);
}

.hljs-params {
    color: var(--color-hljs-params);
}

.hljs-attr, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-selector-pseudo, .hljs-title {
    color: var(--color-hljs-title)
}

.hljs-function {
    color: var(--color-hljs-function);
}

/* Navbar Hamburger
   ------------------------------------------------------- */
.icon-bar {
    transition: 0.4s;
}

/* Rotate first bar */
.change .icon-bar:nth-of-type(2) {
    transform: rotate(-45deg) translate(-4px, 5px) ;
}

/* Fade out the second bar */
.change .icon-bar:nth-of-type(3) {
    opacity: 0;
}

/* Rotate last bar */
.change .icon-bar:nth-of-type(4) {
    transform: rotate(45deg) translate(-4px, -5px) ;
}

/* Navbar
   ------------------------------------------------------- */
.navbar-inverse {
  background-color: #318f7c;
  opacity: 0.95;
  border-color: #02735f;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #02735f;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #02735f;
}
.navbar-inverse .navbar-toggle {
  border-color: #02735f;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #02735f;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #02735f;
  }
}

/* Sub Nav Bar i.e. Breadcrumbs
   ------------------------------------------------------- */
.subnav {
    background-color: var(--color-primary-light);
    border: 0;
}

#breadcrumb .breadcrumb > li a {
    color: var(--color-text-active);
}

#breadcrumb .breadcrumb > li a:hover {
    color: var(--color-text-hover);
    transition: all ease 0.25s;
}

.breadcrumb > li {
    color: var(--color-text-dark);
}

.breadcrumb > li + li:before {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    color: var(--color-text-dark);
    font-size: 75%;
}

/* Side TOC
   ------------------------------------------------------- */
.sidenav, .toc, .sidetoc, .sidetoc > .toc {
    background-color: var(--color-primary-light);
    color: var(--color-text);
    border: 0;
}

.toc {
    margin: 0px 1px 0px 0px;
    padding: 0 20px;
}

.toc .nav > li > a {
    color: var(--color-text);
    text-decoration: none;
}

.toc .nav > li.active > a {
    color: var(--color-text-active);
}

.toc .nav > li > a:hover {
    color: var(--color-text-hover);
    text-decoration: underline;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
    color: var(--color-text-hover);
    transition: all ease 0.1s;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
    width: 12px;
    height: 12px;
    cursor: pointer;
    font-size: 8px;
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    display: table;
    margin-top: 3px;
    text-align: center;
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    width: 12px;
    height: 12px;
    cursor: pointer;
    font-size: 8px;
    font-family: 'Glyphicons Halflings';
    content: "\2b";
    display: table;
    margin-top: 3px;
    text-align: center;
}

.sidetoc > .toc {
    overflow-x: hidden;
    height: 100%;
}

.sidetoc {
    padding-right: 8px;
    height: 100%;
}

.sidefilter, .toc-filter {
    background-color: var(--color-primary-dark);
    color: var(--color-text);
    border: 0;
}

.toc-filter {
    margin: 0;
}

.toc-filter > input {
    border-radius: 20px;
    background-color: var(--color-primary-light);
    color: var(--color-text-dark);
    font-size: 90%
}

.toc-filter > input:focus {
    color: var(--color-text);
    transition: all ease 0.25s;
}

.toc-filter > .filter-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.toc-filter > .clear-icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

/* Affix
   ------------------------------------------------------- */
.affix ul > li > a {
    color: var(--color-text);
}

.affix ul > li.active > a, .affix ul > li.active > a::before {
    color: var(--color-text-active);
}

.affix ul > li > a:hover,
.affix ul > li > a:hover:before,
.affix ul > li.active > a:hover {
    color: var(--color-text-hover);
}

.affix ul > li.active > a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e127";
    left: -1px;
}

.affix ul ul > li > a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e127";
    left: -1px;
}

/* Contribution- for mobile */

.contribution-panel {
    z-index: 1000;
    position: fixed;
    right: 30px;
    top: 70px;
}

/* ALERTS 
   ------------------------------------------------------- */

.alert {
    padding: 0 0 5px 0;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: 0 2px 2px 0 var(--color-alart-boxshadow);
}

.alert > p {
    margin-bottom: 0;
    padding: 5px 10px;
}

.alert > ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert > h5 {
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.alert-info {
    color: var(--color-alert-info);
    background-color: var(--color-alert-info-background);
}

.alert-info > h5 {
    border-bottom: 4px solid var(--color-alert-info);
}

.alert-warning {
    color: var(--color-alert-warning);
    background-color: var(--color-alert-warning-background);
}

.alert-warning > h5 {
    border-bottom: 4px solid var(--color-alert-warning);
}

.alert-danger {
    color: var(--color-alert-danger);
    background-color: var(--color-alert-danger-background);
}

.alert-danger > h5 {
    border-bottom: 4px solid var(--color-alert-danger);
}

/*custom tip alert Not yet implemented*/
.alert-tip {
    color: var(--color-alert-tip);
    background-color: var(--color-alert-tip-background);
}

.alert-tip > h5 {
    border-bottom: 4px solid var(--color-alert-tip);
    content: "\e162";
}

.alert-tip h5:before {
    content: "\e162";
}

/*custom important alert Not yet implemented*/
.alert-important {
    color: var(--color-alert-tip);
    background-color: var(--color-alert-tip-background);
}

.alert-important > h5 {
    border-bottom: 4px solid var(--color-alert-tip);
    content: "\e162";
}

.alert-important h5:before {
    content: "\e162";
}

/* Footer
   ------------------------------------------------------- */
.footer {
    background-color: var(--color-primary-dark);
    color: var(--color-text);
    border-color: var(--color-primary-light);
}